{% extends 'user_mgmt/header.html' %}
{% block title %}Opening Data File...{% endblock %}

{% block content %}
<div class="container">
    {% load static %}
    <br>
    <div class="row">
        <div class="col s12 m3">
            <a href="javascript:history.go(-1);" class="waves-effect teal darken-4 waves-light btn tooltipped"
                data-position="bottom" data-tooltip="Go Back"><i class="material-icons left">arrow_back</i>Go back</a>
        </div>
        <div class="col s12 m9">
            <center>
                <h4 class="indigo-text" style="margin-top: -3px;"><b>{{file_obj.uploaded_file.name}}</b></h4>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m3">
            <a href="/upload" class="waves-effect waves-light btn teal darken-4"><i
                    class="material-icons left">file_upload</i>Upload New file</a>
        </div>
        <div class="col s6 m3">
            <a href="{{request.path}}/preprocess" class="waves-effect waves-light btn green"><i
                    class="material-icons left">cached</i>Preprocess</a>
        </div>
        <div class="col s6 m3">
            <a href="{{request.path}}/visualize" class="waves-effect pink darken-4 waves-light btn"><i
                    class="material-icons left">insert_chart</i>Visualize</a>
        </div>
        <div class="col s6 m3">
            <a href="{{request.path}}/download1" class="waves-effect blue waves-light btn"><i
                    class="material-icons left">file_download</i>Download</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#open_file"><b class="black-text">File Records</b></a>
                </li>
                <li class="tab col s6"><a href="#stats"><b class="black-text">Stats</b></a></li>
            </ul>
        </div>
    </div>


    <!-- <div class = "hoverable" style="padding: 20px; background-color: rgb(240, 229, 229); margin-top: 10px;"> -->
    <div class="col s12 m9 l9 hoverable" id="open_file"
        style="padding: 10px;background-color: rgb(250, 250, 250);border: 5px solid #004d40;">

        {{data_file|safe}}
    </div>

    <div class="col s12 m8 l9 hoverable" id="stats"
    style="background-color: rgb(250, 250, 250);border: 5px solid #004d40;">
        <div style="margin: 20px">
            <center><h4 class="teal-text"><b>Statistics</b></h4></center>
            <hr>
    
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5 class="teal-text center">Column-wise Statistics</h5>
                </li>
                <li class="collection-item">
                    <div style="padding: 5px;">
                        {{stats|safe}}
                    </div>
                </li>
                <li class="collection-header">
                    <h5 class="teal-text center">Quick Facts</h5>
                </li>
                <li class="collection-item">
                    <table class="responsive-table" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        <tbody>
                            <tr>
                                <td >
                                    <b>Uploaded On: </b>
                                </td>
                                <td>{{file_obj.uploaded_on}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Last Modified: </b>
                                </td>
                                <td >{{file_obj.last_modified}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
{% endblock %}