{% extends 'user_mgmt/header.html' %}
{% block title %}Data Preprocessing | Clean Your Data{% endblock %}

{% block account %}
<user_mgmt>
    <div class="container col s12" style="font-size: 130%">
        <br>
        <a href="javascript:history.go(-1);" class="waves-effect teal darken-4 waves-light btn tooltipped" data-position="bottom" data-tooltip="Go Back"><i class="material-icons left">arrow_back</i>Go back</a>
        <!-- <a href="javascript:history.go(0);" class="tooltipped" data-position="bottom" data-tooltip="Go Back">&nbsp;<b>All Category</b>&nbsp;&nbsp;></a> -->
        <center><h2 class="center" style="margin-top: -15px;">	<center><h2 class="indigo-text"><b>Preprocessing or Manipulation</b></h2></center>
      </div>


<!-- Trying to add preprocessing feature here -->
    <!-- Page Layout here -->
    <div class="row" >
		<div class="col s12 m4 l3" >
				<!-- Grey navigation panel -->
			<ul class="collapsible popout">
                <h5 class="teal-text"><b>Select Preprocessing Operation</b></h5>


<!-- Renaming Operations mentioned Here -->
                {% if current_op == "renaming" %}
                <!-- If this is currently viewing -->
                <li class="active">
                    <div class="collapsible-header">
                        <b>Renaming</b>&nbsp;&nbsp;&nbsp; <b class="green-text right">(Currently selected)</b>
                    </div>

                </li>
                {% else %}
                <li>
                    <div class="collapsible-header"><b>Renaming</b></div>
                    <div class="collapsible-body">
                        <p><b>Rename Column/Header.</b></p>
                        <p>
                            <!-- <a id="myAnchor">A Link: Go to w3schools.com</a> -->
                            <a href="{{current_url}}/preprocess/renaming" >
                                <button class="btn waves-effect teal darken-4 waves-light right-align" style="color:white">
                                    <b>Expand</b>
                                </button>
                            </a>
                        </p>
                    </div>
                </li>
                {% endif %}
<!-- Remove Columns Operation goes Here-->
                {% if current_op == "remove_column" %}
                <!-- If this is currently viewing -->
                <li class="active">
                    <div class="collapsible-header">
                        <b>Remove Columns</b>&nbsp;&nbsp;&nbsp; <b class="green-text right">(Currently selected)</b>                    
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="collapsible-header"><b>Remove Columns</b></div>
                    <div class="collapsible-body" >
                        <p>
                            <b>Select and Remove/Drop a column.</b>
                        </p>
                        <p>
                            <a href="{{current_url}}/preprocess/remove_column">
                                <button class="btn waves-effect teal darken-4 waves-light right-align" style="color:white">
                                    <b>Expand</b>
                                </button>
                            </a>
                        </p>
                    </div>
                </li>
                {% endif %}
<!-- Cleaning Missing Data -->
                {% if current_op == "cleaning" %}
                <!-- If this is currently viewing -->
                <li class="active">
                    <div class="collapsible-header">
                        <b>Clean Missing Data</b>&nbsp;&nbsp;&nbsp; <b class="green-text right">(Currently selected)</b>
                    </div>

                </li>
                {% else %}
                <li>
                    <div class="collapsible-header"><b>Clean Missing Data</b></div>
                    <div class="collapsible-body">
                        <p><b>Remove ambiguity in Data</b></p>
                        <p>
                            <!-- <a id="myAnchor">A Link: Go to w3schools.com</a> -->
                            <a href="{{current_url}}/preprocess/cleaning" >
                                <button class="btn waves-effect teal darken-4 waves-light right-align" style="color:white">
                                    <b>Expand</b>
                                </button>
                            </a>
                        </p>
                    </div>
                </li>
                {% endif %}
<!-- Combining Datasets -->
                {% if current_op == "combining_dataset" %}
                <!-- If this is currently viewing -->
                <li class="active">
                    <div class="collapsible-header">
                        <b>Combining Datasets(Beta)</b>&nbsp;&nbsp;&nbsp; <b class="green-text right">(Currently selected)</b>
                    </div>

                </li>
                {% else %}
                <li>
                    <div class="collapsible-header"><b>Combining Datasets(Beta)</b></div>
                    <div class="collapsible-body">
                        <p><b>Combine two Data Sets</b></p>
                        <p>
                            <!-- <a id="myAnchor">A Link: Go to w3schools.com</a> -->
                            <a href="{{current_url}}/preprocess/combining_dataset" >
                                <button class="btn waves-effect teal darken-4 waves-light right-align" style="color:white">
                                    <b>Expand</b>
                                </button>
                            </a>
                        </p>
                    </div>
                </li>
                {% endif %}
<!-- Buttons for supportive operations starts here -->
                <li>
                    <div class="collapsible-header">
                        <a href="{{current_url}}" class="waves-effect waves-light btn"><i class="material-icons left">open_in_browser</i>Open Source File</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <a href="{{current_url}}/visualize" class="waves-effect pink darken-4 waves-light btn"><i
                            class="material-icons left">insert_chart</i>Visualize File</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <a href="{{current_url}}/download" class="waves-effect blue waves-light btn"><i
                            class="material-icons left">file_download</i>Download File</a>
                    </div>
                </li>
<!-- Operations End Here -->
			</ul>
		</div>
        <br>

<!-- Right side page for perticular operation  -->
        {% block preprocess_operations %}
        {% endblock %}

	</div>
</user_mgmt>
<br>

{% endblock %}
        