{% extends 'module2_html/preprocess.html' %}
{% block preprocess_operations %}
<!-- This file propagate renaming operations, currently supported renaming of 8 columns -->
<div class="col s12 m8 l9 hoverable" style="background-color: rgb(250, 250, 250);border: 5px solid #004d40;">
    <div style="margin: 20px">
        <h4 class="teal-text"><b>Rename Column</b></h4>
        <!-- <br> -->
        <!-- <p></p> -->
        <hr>
        <p class="black-text"><b>Rename dataset and/or columns. Leave blank to keep original name.</b></p>
        <div class="row">
            <form method="post" action='' enctype="multipart/form-data" class="col s12 m12">
                {% csrf_token %}
                <div class="row">
                    {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        <div class="input-field col s6 m4">
                            {{ field.errors }}
                            {{ field }}
                            <label><b>{{ field.label_tag }}</b></label>
                            {% if field.help_text %}
                            <span class="helper-text" data-error="wrong" data-success="right">
                                <p class="help">{{ field.help_text|safe }}</p>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <b class="red-text">If modified then further modification can be done manually.</b>
                <!-- Form button goes here -->
                <div style="padding-top: 20px;padding-bottom:20px;">
                    <button class="btn waves-effect teal darken-4 waves-light" type="submit" name="action"><b>Submit
                        </b><i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}