{% extends 'user_mgmt/header.html' %}
{% block title %}Visualizing the data....{% endblock %}

{% block content %}
    <div class="container">
        {% load static %}
        <br>
        <a href="javascript:history.go(-1);" class="waves-effect teal darken-4 waves-light btn tooltipped" data-position="bottom" data-tooltip="Go Back"><i class="material-icons left">arrow_back</i>Go back</a>
        <center><h2 class="indigo-text"> Graph of Data</h2></center>
        <div class = "hoverable" style="padding: 20px; background-color: rgb(240, 229, 229); margin-top: 10px;">
        
            {{graph|safe}}
        </div>
    </div>
    <br>

{% endblock %}