{% extends 'user_mgmt/header.html' %}
{% block title %} {{user.username}}'s Dashboard | Explore Your Own Space {% endblock %}

{% block account %}
<user_mgmt>
    <center><h2 class="indigo-text" ><b>{{user.username|upper}}'s Dashboard</b></h2></center>
    <div class="container hoverable" style="padding: 20px; background-color: white; margin-top: 10px;border: 5px solid #004d40;">

        <ul class="collapsible">
            {% if files %}
                <li class="collection-item">
                    <li style="font-size: 30px;margin: 10px;"><i class="material-icons left" style="font-size: 40px;">folder_open</i><b class="teal-text">Your Uploaded Data Files</b></li>
                    <!-- <h5 class="center"><b><i class="material-icons" style="font-size: 40px;">folder_open</i>&nbsp;&nbsp;Your Uploaded Files&nbsp;&nbsp; </b></h5> -->
                </li>
            {% else %}
                <li class="collection-item"><h5><center><b>Looks like you haven't uploaded yet!&nbsp;&nbsp; </b></center></h5></li>
            {% endif %}
            <hr>
            {% for f in files %}
                <li>
                    <div class="collapsible-header">
                        <h6>
                            <b>File&nbsp;&nbsp;:&nbsp </b></h6>
                            <h6 style="color:cornflowerblue">{{f.uploaded_file.name}}
                            </h6>                  
                    </div>
                    <div class="collapsible-body">
                        <!-- <span>Lorem ipsum dolor sit amet.</span> -->
                        <span>

                            <table class="striped">
                                <tbody>
                                  <tr>
                                    <td><b>Uploaded on :</b></td>
                                    <td>{{f.uploaded_on}}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Size :</b></td>
                                    <td>{{f.uploaded_file.size}} Bytes</td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="{{f.uploaded_file.url}}" class="waves-effect waves-light btn"><i class="material-icons left">open_in_browser</i>Open</a>
                                      </td>
                                      <td>View your data</td>
                                  </tr>
                                <tr>
                                    <td>
                                        <a href="{{f.uploaded_file.url}}/preprocess" class="waves-effect waves-light btn green"><i class="material-icons left">cached</i>Preprocess</a>
                                    </td>
                                    <td>Preprocess/Manipulate your data</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{f.uploaded_file.url}}/visualize" class="waves-effect pink darken-4 waves-light btn"><i class="material-icons left">insert_chart</i>Visualize</a>
                                    </td>
                                    <td>Visualize the Data</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{f.uploaded_file.url}}/download" class="waves-effect blue waves-light btn"><i class="material-icons left">file_download</i>Download</a>
                                    </td>
                                    <td>Download Current File</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#modal_delete{{forloop.counter}}" class="waves-effect waves-light btn red modal-trigger"><i class="material-icons left">delete</i>Delete</a>
                                    </td>
                                    <td>Delete this file</td>
                                </tr>
                                </tbody>
                              </table>
                              
                        </span>
                    </div>
                </li>
                                <!-- Modal for deleting content Structure -->
                <div id="modal_delete{{forloop.counter}}" class="modal">
                    <div class="modal-content" style="color: black">
                    <h3 class="center">Are you sure?</h3>
                    <p>Once you delete this file then it is not recoverable, make sure you have downloaded it.</p>
                    </div>
                    <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect green btn"><i class="material-icons left">arrow_back</i>Go Back</a>
                    <a href="{{f.uploaded_file.url}}/delete_file" class="waves-effect waves-light btn red"><i class="material-icons left">delete</i><b>Delete permanently</b></a>
                    </div>
                </div>
            {% endfor %}
        </ul>

        <div class="center-align">
                <a href="/upload" class="waves-effect teal darken-4 waves-yellow btn" ><i class="material-icons left">file_upload</i><b>Upload new Data File</b></a>
        </div>

    </div>

</user_mgmt>
<br>
<br>
{% endblock %}
        