{% extends 'user_mgmt/header.html' %}
{% block title %} {{user.username}}'s Dashboard | Explore Your Own Space {% endblock %}

{% block account %}
<user_mgmt>
    <h1 class="center" style="margin-top: -10px;">	<center><h3><b>{{user.username}}'s Dashboard</b></h3></center></h1>
    <div class="container hoverable" style="padding: 20px; background-color: white; margin-top: 10px;">
        
    <!-- <ul class="collection with-header"> -->
    <ul class="collection">
        <!-- <li class="collection-header"><h4>First Names</h4></li> -->
        {% if files %}
            <li class="collection-item"><h5><center><b>Your Uploaded Files&nbsp;&nbsp; </b></center></h5></li>
        {% else %}
            <li class="collection-item"><h5><center><b>Looks like you haven't uploaded yet!&nbsp;&nbsp; </b></center></h5></li>
        {% endif %}
        {% for f in files %}
            <li class="collection-item"><h6><b>File&nbsp;&nbsp;: </b>{{f}}</h6></li>
        {% endfor %}
    </ul>
    <div class="center-align">
            <a href="/upload" class="waves-effect red waves-yellow btn pulse" d><i class="material-icons left">file_upload</i><b>Upload new CSV</b></a>
    </div>
    </div>
</user_mgmt>
<br>
<br>
{% endblock %}