{% extends 'user_mgmt/header.html' %}
{% block title %} Setting your Profile {% endblock %}

{% block account %}

<user_mgmt>
    <center>
        <h2 class="indigo-text"><b>Edit Your Profile</b></h2>
    </center>
    <div class="container hoverable" style="padding: 30px;background-color: white;border: 5px solid #004d40;">

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn waves-effect teal darken-4 waves-light" type="submit" name="action"><b>Submit
                </b><i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</user_mgmt>
<br>
{% endblock %}