{% extends "user_mgmt/header.html" %}
{% block title %}Give Feedback{% endblock %}

{% block content %}
{{ form.media }}
<div class="container ">
    <center>
        <h3 class="header indigo-text"><b>Write Your Feedback Here!</b></h3>
    </center>
    <div class="container ">
        <div class="z-depth-1 white hoverable row"
            style="display: inline-block; padding: 32px 50px 10px 50px; border: 5px solid #004d40;">

            <form method="post" action='' enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p}}
                <br>
                <center>
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>
                            Send Feedback
                            <i class="material-icons right">send</i></button>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}