{% extends 'user_mgmt/header.html' %}
{% block title %} Upload new CSV File {% endblock %}

{% block account %}
<user_mgmt>
    <br>
    <div class="container hide-on-small-only">
        <a href="javascript:history.go(-1);" class="waves-effect teal darken-4 waves-light btn tooltipped"
            data-position="bottom" data-tooltip="Go Back"><i class="material-icons left">arrow_back</i>Go back</a>
    </div>
    <br>
    <center>
        <h3 class="indigo-text" style="margin-top: -10px"><b>Upload New CSV File!</b></h3>
    </center>
    <div class="container hoverable"
        style="padding: 20px; background-color: white; margin-top: 10px;border: 5px solid #004d40;">

        <!-- <ul class="collection with-header"> -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" class="waves-effect teal darken-4 waves-yellow btn"><i
                    class="material-icons left">file_upload</i>Upload</button>
            <b>Currently we are supporting maximum upload size of 2MB.</b>
        </form>
        <br>
    </div>
</user_mgmt>
<br>
<br>
{% endblock %}